
@model Store.Web.ViewModels.RegisterShalveViewModel
@{
    ViewBag.Title = "Register Shalve";
}
<h2>Register Shalve</h2>

@using (Html.BeginForm("RegisterShalve", "Shalve", FormMethod.Post))
{

    <div class="form-group">
        <label>Floor </label>
        <br />
        @Html.TextBoxFor(m => m.Floor)
        @Html.ValidationMessageFor(m => m.Floor, null, new { @class = "attribute-error" })

    </div>
    <div class="form-group">
        <label>Room </label>
        <br />
        @Html.TextBoxFor(m => m.Room)
        @Html.ValidationMessageFor(m => m.Room, null, new { @class = "attribute-error" })

    </div>
    <div class="form-group">
        <label>Shelf </label>
        <br />
        @Html.TextBoxFor(m => m.Shelf)
        @Html.ValidationMessageFor(m => m.Shelf, null, new { @class = "attribute-error" })

    </div>
    <div class="form-group">
        <label>Section </label>
        <br />
        @Html.TextBoxFor(m => m.Section)
        @Html.ValidationMessageFor(m => m.Section, null, new { @class = "attribute-error" })

    </div>
    <div class="form-group">
        <label>Row </label>
        <br />
        @Html.TextBoxFor(m => m.Row)
        @Html.ValidationMessageFor(m => m.Row, null, new { @class = "attribute-error" })
        @Html.ValidationMessage("UniqueShalve", new { @class = "attribute-error" })


    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}

<style>
    .error-summary {
        color: red;
    }

    .attribute-error {
        display: block;
        color: red;
    }
</style>