@model Store.Web.ViewModels.RegisterShalveViewModel

<h1>Edit Role</h1>
@using (Html.BeginForm("Submit", "Shalve", FormMethod.Post))
{
    <div class="form-group">
        <label>ID</label>
        <br />

        @Html.TextBoxFor(model => model.ID, new { value = Model.ID })

    </div>
    <div class="form-group">
        <label>Floor</label>
        <br />

        @Html.TextBoxFor(model => model.Floor, new { value = Model.Floor })
        @Html.ValidationMessageFor(m => m.Floor, null, new { @class = "attribute-error" })

    </div>
    <div class="form-group">
        <label>Room</label>
        <br />

        @Html.TextBoxFor(model => model.Room, new { value = Model.Room })
        @Html.ValidationMessageFor(m => m.Room, null, new { @class = "attribute-error" })

    </div>
    <div class="form-group">
        <label>Shelf</label>
        <br />

        @Html.TextBoxFor(model => model.Shelf, new { value = Model.Shelf })
        @Html.ValidationMessageFor(m => m.Shelf, null, new { @class = "attribute-error" })

    </div>
    <div class="form-group">
        <label>Section</label>
        <br />

        @Html.TextBoxFor(model => model.Section, new { value = Model.Section })
        @Html.ValidationMessageFor(m => m.Section, null, new { @class = "attribute-error" })

    </div>
    <div class="form-group">
        <label>Row</label>
        <br />

        @Html.TextBoxFor(model => model.Row, new { value = Model.Row })
        @Html.ValidationMessageFor(m => m.Row, null, new { @class = "attribute-error" })
        @Html.ValidationMessage("UniqueShalve", new { @class = "attribute-error" })

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>


    <button type="submit" class="btn btn-danger" formaction="@Url.Action("Delete", "Shalve", new { id = Model.ID })">
        Delete
    </button>
}



<style>
    .error-summary {
        color: red;
    }

    .attribute-error {
        display: block;
        color: red;
    }
</style>