@model Store.Web.ViewModels.RegisterAuthorViewModel

<h1>Edit Author</h1>
@using (Html.BeginForm("Submit", "Author", FormMethod.Post))
{
    <div class="form-group">
        <label>ID</label>
        <br />

        @Html.TextBoxFor(model => model.ID, new{@readonly = "readonly"})

    </div>
    <div class="form-group">
            <label>FirstName</label>
            <br />

            @Html.TextBoxFor(model => model.FirstName, "" ,new { value = Model.FirstName })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "attribute-error" })


        </div>
    <div class="form-group">
        <label>LastName</label>
        <br />

        @Html.TextBoxFor(model => model.LastName, new { value = Model.LastName })
        @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "attribute-error" })
        @Html.ValidationMessage("UniqueAuthor", new { @class = "attribute-error" })


    </div>



    <button type="submit" class="btn btn-primary">Submit</button>


    <button type="submit" class="btn btn-danger" formaction="@Url.Action("Delete", "Author", new { id = Model.ID })">
        Delete
    </button>
}



<style>
    .error-summary {
        color: red;
    }

    .attribute-error {
        display: block;
        color: red;
    }
</style>
