
@model List<Store.Model.Models.Employees>
@{
    ViewBag.Title = "Search List";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>LastName</th>
            <th>Address</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Day of Hire</th>
            <th>Sallary</th>
        </tr>
    </thead>
    <tbody>


        @*@if (Model != null && Model.Count() == 0)
        {
            <h1>no results</h1>
        }
        else
        {
            foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.ID</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Address</td>
                    <td>@employee.Email</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@employee.HireDate</td>
                    <td>@employee.Sallary</td>
                    <td><a href="http://localhost:3523/Employee/View/@employee.ID" class="btn btn-primary">View</a></td>


                </tr>
            }
        }*@



        @if ( Model.Count() > 0)
        {
            foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.ID</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Address</td>
                    <td>@employee.Email</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@employee.HireDate</td>
                    <td>@employee.Sallary</td>
                    <td><a href="http://localhost:3523/Employee/View/@employee.ID" class="btn btn-primary">View</a></td>


                </tr>
            }
        }
        else
        {
            <h1>no results</h1>
        }



    </tbody>
</table>