@model Store.Web.ViewModels.RegisterGenreViewModel

<h1>Edit Genre</h1>
@using (Html.BeginForm("Submit", "Genre", FormMethod.Post))
{
    <div class="form-group">
        <label>ID</label>
        <br />

        @Html.TextBoxFor(model => model.ID, new { value = Model.ID })

    </div>
    <div class="form-group">
        <label>Name</label>
        <br />

        @Html.TextBoxFor(model => model.Name, new { value = Model.Name })
        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "attribute-error" })
        @Html.ValidationMessage("UniqueGenre", new { @class = "attribute-error" })

    </div>
   

    <button type="submit" class="btn btn-primary">Submit</button>


    <button type="submit" class="btn btn-danger" formaction="@Url.Action("Delete", "Genre", new { id = Model.ID })">
        Delete
    </button>
}
<style>
    .error-summary {
        color: red;
    }

    .attribute-error {
        display: block;
        color: red;
    }
</style>


