
@model List<Store.Model.Models.Publishers>
@{
    ViewBag.Title = "Publishers List";
}


    
    @using (Html.BeginForm("Search", "Publisher", FormMethod.Get))
    {
        @Html.TextBox("searching")<input type="submit" value="Search" />

    }


<h3><a href="http://localhost:3523/Publisher/RegisterPublisher">Register new Publisher</a></h3>
<h1>Publishers</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>PhoneNumber</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var publisher in Model)
        {
            <tr>
                <td>@publisher.ID</td>
                <td>@publisher.Name</td>
                <td>@publisher.Address</td>
                <td>@publisher.PhoneNumber</td>
                <td>@publisher.Email</td>
                <td><a href="http://localhost:3523/Publisher/View/@publisher.ID" class="btn btn-primary">View</a></td>


            </tr>
        }
    </tbody>
</table>